$moderate_violet: hsl(263, 55%, 52%);
$very_dark_grayish_blue: hsl(217, 19%, 35%);
$very_dark_blackish_blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light_gray: hsl(0, 0%, 81%);
$light_grayish_blue: hsl(210, 46%, 95%);

@mixin dark-light-article($isLight: false) {
  @if $isLight {
    color: $very_dark_blackish_blue;

    .quote {
      color: scale-color($very_dark_blackish_blue, $alpha: -30%);
    }
    .author-status {
      color: scale-color($very_dark_blackish_blue, $alpha: -50%);
    }
  } @else {
    color: $white;

    .quote {
      color: scale-color($white, $alpha: -30%);
    }
    .author-status {
      color: scale-color($white, $alpha: -50%);
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 0.8125rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}

picture,
img {
  display: block;
}

body {
  background-color: $light_grayish_blue;
}

main {
  margin-inline: 1.8rem;
  margin-block: 5.5rem;
}

.card-container {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";

  @media (min-width: 35rem) {
    grid-template-areas:
      "a a"
      "b c"
      "d d"
      "e e";
  }

  @media (min-width: 60rem) {
    grid-template-areas:
      "a a b e"
      "c d d e";
  }
}

h3 {
  font-size: 1.55rem;
}

h5 {
  font-size: 1rem;
}

article {
  padding-block: 1.9rem;
  padding-inline: 2.4rem;
  border-radius: 8px;

  .author-profile {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 1.25rem;

    img {
      border-radius: 50%;
      border-width: 0.15rem;
      border-style: solid;
      width: 2.3rem;
      height: 2.3rem;
    }
    .author-info {
      display: flex;
      flex-direction: column;
      gap: 0.1125rem;
    }
    .author-status {
      font-size: 0.85rem;
    }
  }

  .quote {
    margin-top: 3.2rem;
    line-height: 1.5rem;
  }
}

article:nth-of-type(1) {
  @include dark-light-article;

  grid-area: a;
  background-color: $moderate_violet;
  background-image: url("../images/bg-pattern-quotation.svg");
  background-position: top right 11%;
  background-repeat: no-repeat;

  img {
    border-color: scale-color($white, $alpha: -50%);
  }

  @media (min-width: 60rem) {
    background-position: top right 18%;
  }
}

article:nth-of-type(2) {
  @include dark-light-article;

  grid-area: b;
  background-color: $very_dark_grayish_blue;

  img {
    border-color: $light_gray;
  }
}

article:nth-of-type(3) {
  @include dark-light-article(true);

  grid-area: c;
  background-color: $white;

  img {
    border-color: $white;
  }
}

article:nth-of-type(4) {
  @include dark-light-article;

  grid-area: d;
  background-color: $very_dark_blackish_blue;

  img {
    border-color: scale-color($moderate_violet, $alpha: -30%);
  }
}

article:nth-of-type(5) {
  @include dark-light-article(true);

  grid-area: e;
  background-color: $white;

  img {
    border-color: $white;
  }
}
